*{
  margin: 0;padding:0;
}
body{
  background:url(./asset/img/bg.png) top center; 
  font-family: arial;
	color: #666;
}
.App {
  text-align: center;
  width: 800px;
  margin: 50px auto;
  background:url(./asset/img/note-bg.png) repeat-y #fff8d4;
  box-shadow: 2px 2px 15px rgba(0, 0, 0,0.2);
  border: 2px solid #332929;
}

